.nav {
    background-color: rgb(108, 142, 178);
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav li {
    float: left;
}

.nav li a {
    display: block;
    padding: 14px 16px;
    background-color: rgb(60, 107, 161);
    text-align: center;
    text-decoration: none;
    font-size: large;
    color: white;
    font-family: rockwell, sans-serif;
    font-weight: 400;
    font-style: italic;
}

.nav li a:hover {
    background-color: rgb(146, 189, 237);
}

body {
    background-color: rgb(41, 74, 112);
    font-family: rockwell, sans-serif;
    font-weight: 400;
    font-style: normal;
}