    .nav {
        background-color: rgb(108, 142, 178);
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    
    .nav li {
        float: left;
    }
    
    .nav li a {
        display: block;
        padding: 14px 16px;
        background-color: rgb(60, 107, 161);
        text-align: center;
        text-decoration: none;
        font-size: large;
        color: white;
        font-family: rockwell, sans-serif;
        font-weight: 400;
        font-style: italic;
    }
    
    .nav li a:hover {
        background-color: rgb(146, 189, 237);
    }
    
    body {
        background-color: rgb(41, 74, 112);
        font-family: rockwell, sans-serif;
        font-weight: 400;
        font-style: normal;
    }
    
    .grid-container {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: auto auto 25%;
    }
    
    .grid-item {
        background-color: lightsteelblue;
        text-align: center;
        font-size: 30px;
        padding: 20px;
    }
    
    .navmenu {
        grid-column: 1 /span 3;
        grid-row: 1;
    }
    
    .main-image {
        grid-column: 1 /span 3;
        grid-row: 2;
    }
    
    .main1 {
        grid-column: 1/span 2;
        grid-row: 3;
    }
    
    .support1 {
        grid-column: 1 / span 1;
        grid-row: 4;
        background-color: red;
    }
    
    .support2 {
        grid-column: 2 / span 1;
        grid-row: 4;
        background-color: red;
    }
    
    .main2 {
        grid-column: 1/span 2;
        grid-row: 5;
    }
    
    .sidenav {
        grid-column: 3;
        grid-row: 3/ span 3;
        background-color: brown;
    }
    
    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        text-align: center;
        width: 100%;
        background-color: white;
    }
    
    img {
        width: 40%;
    }
    
    .mainpic {
        grid-column: 1 /span 3;
        grid-row: 2;
    }
    
    p {
        font-size: 15px;
        text-align: left;
    }
    
    .content1 {
        grid-column: 1 /span 2;
        grid-row: 3;
    }
    
    .content2 {
        grid-column: 1;
        grid-row: 4;
    }
    
    .content3 {
        grid-column: 2;
        grid-row: 4;
    }
    
    .content4 {
        grid-column: 1 /span 2;
        grid-row: 5;
    }
    
    .resources {
        grid-column: 3;
        grid-row: 3 /span 3;
    }
    
    li {
        font-size: 15px;
        text-align: left;
    }