.nav {
    background-color: rgb(234, 212, 142);
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav li {
    float: left;
}

.nav li a {
    display: block;
    padding: 14px 16px;
    background-color: rgb(75, 125, 83);
    text-align: center;
    text-decoration: none;
    font-size: large;
    color: white;
}

.nav li a:hover {
    background-color: rgb(117, 145, 123);
}

.container {
    margin: 20px 100px;
    padding: 50px;
    border: 3px solid black;
    background-color: lightgoldenrodyellow;
}

body {
    background-color: beige;
}

.header {
    text-align: center;
}

#main {
    font-family: 'Courier New', Courier, monospace;
}

.center {
    text-align: center;
}

#indextitle {
    text-decoration: underline;
}

#side-pic {
    display: block;
    float: right;
    border-radius: 4px;
}

.space {
    height: 100px;
}